/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
